@import "tailwindcss";
@source "../../node_modules/@serversideup/project-switcher-bar/src";
@import "@nuxt/ui-pro";
@import "./animations.css";
@import "./hamburger.css";

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
